// Primary Colors
$primary-gradient-start: #6a11cb; 
$primary-gradient-end: #2575fc;  

// Neutral Colors
$neutral-dark: #333;     
$neutral-light: #F9F9F9;     
$neutral-medium: #666666;

$text-primary : $neutral-dark;
$text-secondary : $neutral-medium;

$disabled-color: #ccc;



