@import './variables';

.header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06); 
    background-color: #fff;
    z-index: 999;
    padding: 20px 15px;
    position: sticky;
    top: 0;
    left: 0;

    h1{
        font-size: 20px;
        color: $text-primary;
    }
}