@import "./variables";

.card {
  background: #fff;
  border-radius: 6px;
  padding: 16px;
  margin-bottom: 16px;

  .text {
    font-size: 0.8rem;
    color: #666;
    margin-bottom: 40px;
  }
  .content {
    margin-bottom: 50px;
  }

  .imageContainer {
    aspect-ratio: 3/2;
    background-color: #f0f0f0;

    .img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .comment {
    display: flex;
    justify-content: end;
    font-size: 12px;
    padding: 20px 0;
    border-top: 0.3px solid #c3c3c3;
    color: $text-secondary;

    p {
      display: flex;
      cursor: pointer;
      align-items: center;
      gap: 5px;
    }
  }
}
